{% load static %}
<div class="foooter">
    <div class="footer" style="margin-top: 100px; margin-left: 100px; position: relative;">
      <div class="col-sm-4">
         <div class="collapse navbar-collapse" id="myNavbar4">
      <ul class="nav navbar-nav" style="margin-top: -5px;">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'index' %}">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    </div>
  <div style="font-size: 30px; margin-top: -10px;">
    <div class="col-sm-1">
      <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="col-sm-1">
      <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
    </div>
      <div class="col-sm-1">
      <a href="https://www.google.com"><i class="fa-brands fa-google"></i></a>
    </div>
    <div class="col-sm-1">
      <a href="https://www.vk.com"><i class="fa-brands fa-pinterest"></i></a>
    </div>
  </div>
    <div class="col-sm-4" style="margin-top: 10px;">
      <p>&Copyright 2013 DesignerFirst.com</p>
    </div>
  </div>
</div>